<!DOCTYPE html>
<html>
<head>
    <title>Group2Flight</title>

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

<header>
    <h1>Group2Flight</h1>
</header>

@RenderBody()

<footer>
    <p>Contact: Group2Flight</p>
</footer>

</body>
</html>
